div {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* css파일 만들때 처음 이렇게 해놓으면 편함 */

.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* filter: brightness(70%) saturate(150%); */
    padding-top: 1px;
    text-align: center;
}

.main-title {
    color: white;
    font-size: 40px;
    margin-top: 100px;
}

.main-background p {
    color: white;
}

.main-button {
    padding: 15px;
    width: 150px;
    height: 80px;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
    /* position: fixed;는 스크롤해도 같은위치에 떠있는거 구현가능 */
    /* position: absolute;는 부모요소중에 position: relative를 주고,
    이놈 기준으로 특정 위치에 떠있는거 구현가능 */
    top: 50px;
    /* left: 50px; */
}

.philosophy-background {
    text-align: center;
    width: 500px;
    height: 200px;
    background-color: gainsboro;
    position: relative;
    top: -50px;
    margin: auto;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    /* border-box쓰면 아예 박스 사이즈가 설정한 width, height로 고정됨, padding때문에 더 커지고 그런경우 없음 */
    /* 그냥 css파일 처음에 div자체를 box-sizing: border-box; 해놓으면 편함 */
    /* z-index: 5; z축 숫자 높을수록 나와 가까움 */
}