body {
    margin: 0;
}

div {
    box-sizing: border-box;
}

.main-btn {
    padding: 15px;
    width: 150px;
    height: 80px;
    font-size: 20px;
    border-radius: 10px;
}

.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: blue;
}