/* class selector라고 부름 */
.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    text-align: center;
    letter-spacing: 5px;
}

.job {
    text-align: center;
    color: blue;
    font-weight: 900;
}

.content {
    text-align: center;
}

.box {
    width: 300px;
    background-color: cadetblue;
    margin: 30px;
    padding: 40px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 10px 10px 3px 1px black;
    text-align: center;
}

.container {
    width: 800px;
    /* display: flex; */
}

.header {
    width: 100%;
    height: 50px;
    background-color: aquamarine;
}

.left-menu {
    width: 20%;
    height: 400px;
    background-color: cornflowerblue;
    /* float: left; */
    /* float: left는 붕 띄워서 왼쪽으로 정렬 */
    display: inline-block;
    vertical-align: top;
}

.rightbox {
    width: 80%;
    height: 400px;
    background-color: coral;
    /* float: right; */
    display: inline-block;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: grey;
    /* clear: both; */
    /* float 다음에 오는 요소 버그 생기면 clear: both로 해결 */
}

/* tag selector라고 부름 */
/* p {
    text-align: center;
} */

/* id selector라고 부름 */
#special {
    text-align: center;
}

/* 스타일이 겹칠경우, html파일에 하드코딩한 style > id > class > tag 순으로 우선순위 */