body {
    margin: 0;
}

div {
    box-sizing: border-box;
}

.main-wrapper {
    background-color: #F9F9F9;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: end;
}

.sidebar {
    background-color: #4244A6;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: flex-start;
    width: 150px;
    height: 100vh;
    padding-top: 30px;
    position: fixed;
    z-index: 1;
    left: -90px;
    transition: all 0.3s ease;
    color: white;
    gap: 30px 0;
}

.sidebar>i {
    margin: 0;
    width: 60px;
    background-color: #4244A6;
    border: none;
    transition: transform 0.3s ease;
    transform: translateX(0px);
    cursor: pointer;
}

.sidebar>span {
    width: 90px;
    height: auto;
    margin: 0;
    text-align: start;
    transition: transform 0.3s ease;
    transform: translateX(0px);
    cursor: pointer;
    padding-top: 5px;
}

.sidebar:hover {
    left: 0;
}

.sidebar:hover>i {
    transform: translateX(-90px);
}

.sidebar:hover>span {
    transform: translateX(60px);
}

.main-content {
    width: calc(100% - 60px);
    height: 100vh;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.nav-bar {
    background-color: white;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.search_bar {
    display: none;
}

.notification {
    display: none;
}

.mail {
    display: none;
}

.user-name {
    display: none;
}

.dropdown-btn {
    width: 60px;
    height: 40px;
    background-color: white;
    border: 2px solid #E8E8E8;
    border-radius: 5px;
    color: #868686;
    margin-left: auto;
    margin-right: 10px;
}

.dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.dashboard h4 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

.summary-box {
    background-color: white;
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px lightgrey;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

    p {
        font-size: 20px;
        margin: 0;
    }

    b {
        margin: 0;
        font-size: 20px;
    }

    i {
        font-size: 2rem;
    }

}

.earnings-monthly {
    border-left: 5px solid #73C8E6;
}

.earnings-annual {
    border-left: 5px solid #00C259;
}

.tasks {
    border-left: 5px solid #4244A6;
}

.requests {
    border-left: 5px solid #FFC358;
}

.earnings-overview {
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px lightgrey;
    margin: 15px;
}

.overview_chart {
    width: 100%;
    height: 300px;
    background-color: white;
    position: relative;
    border-radius: 5px;
}

.overview_chart canvas {
    width: 100% !important;
    height: auto !important;
    display: block;
}

.earnings-overview div p {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.earnings-overview div {
    padding: 15px;
}

.tasks_overview {
    background-color: #F9F9F9;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px lightgrey;
    margin: 15px;
}

.tasks_text {
    font-size: 20px;
    font-weight: 500;
    margin: 15px;
}

.tasks_text p {
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
}

.tasks_list {
    background-color: white;
    border-bottom: 1px solid #d9d9d9;
    padding: 15px;
    display: flex;
    justify-content: space-between;

    .badge {}
}

.taskes_list_lastbox {
    border-radius: 5px;
}

.tasks_list p {
    margin: 0;
}

@media screen and (min-width:768px) {
    .main-content {
        gap: 0 20px;
    }

    .dashboard {
        height: fit-content;
    }

    .summary-box {

        width: calc(25% - 15px);
        display: flex;

        p {
            font-size: 16px;
            margin: 0;
        }

        b {
            margin: 0;
            font-size: 20px;
        }

        i {
            font-size: 1rem;
        }


    }

    .search_bar {
        visibility: visible;
        margin-left: 15px;
        height: fit-content;
        width: fit-content;
        display: flex;
        margin-right: auto;
    }

    .search_bar input {
        width: 200px;
        height: 40px;

        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid #d9d9d9;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        transition: all 0.3s ease;
    }

    .search_bar input:hover {
        border: 1px solid #868686;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .search_bar input:focus {
        outline: none;
        border: 3px solid skyblue;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        width: 300px;
    }

    .search_bar i {
        background-color: #353A3F;
        width: 40px;
        height: 40px;
        align-content: center;
        cursor: pointer;
    }

    .notification {
        display: block;
        margin-right: 20px;
        cursor: pointer;
        position: relative;

        i {
            font-size: 1.5rem;
        }

        .badge {
            position: absolute;
            top: -10px;
            left: 15px;
            font-size: 10px;
        }
    }

    .mail {
        display: block;
        margin-right: 20px;
        cursor: pointer;
        position: relative;

        i {
            font-size: 1.5rem;
        }

        .badge {
            position: absolute;
            top: -10px;
            left: 15px;
            font-size: 10px;
        }
    }

    .user-name {
        display: block;
        margin-right: 10px;
        cursor: pointer;

        p {
            color: #757575;
            margin: 0;
        }
    }

    .dropdown-btn {
        display: none;
    }

    .dashboard {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0 20px;

        h4 {
            width: 100%;
        }
    }

    .earnings-overview {
        margin-right: 0;
        width: calc(50% - 25px);
        height: fit-content;
        border-radius: 5px;
    }



    .tasks_overview {
        margin-left: 0;
        width: calc(50% - 25px);
    }



}