body {
    margin: 0;
}

div {
    box-sizing: border-box;
}

.row1box {
    background: linear-gradient(to top, #4559B4, #358ED3);
    width: 75%;
    height: 400px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.row1box_letterbox {
    color: white;
    margin-top: 50px;
    margin-left: 100px;
}

.blackbtn {
    height: 40px;
    color: white;
    background-color: #3C3C3C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.showmore {
    width: 100px;
}

.showportpolio {
    width: 120px;

}

.iphone-1 {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: 100px;
    margin-top: auto;
}

.row2box {
    width: 75%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.row2box_letterbox {
    text-align: center;
}

.row3box {
    background-color: #4559B4;
    padding-top: 50px;
    padding-bottom: 75px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.row3box_letterbox {
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.row3box_servicebox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 60px;
}

.row3box_service {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.row3box_servicebox i {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4559B4;
}

.servicebox h2 {
    margin-bottom: 0;
}

.row4box {
    width: 75%;
    height: 500px;
    padding-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.row4box_letterbox {
    text-align: center;
    color: black;
    margin-bottom: 60px;
}

.row4box_imgbox {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.itemimage {
    width: 50%;
    position: relative;
    overflow: hidden;
}

.itemimage img {
    width: 100%;
    display: block;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    z-index: 1;
    padding-top: 50px;
    padding-left: 50px;
}

.whiteborderbox {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    transition: all 0.3s ease-in-out;
    border: 0px solid white;
}

.itemimage:hover .whiteborderbox {
    border: 20px solid white;
}

.row4box_socialbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.row4box_socialbox a {
    background-color: black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.row4box_copyrightbox {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

@media screen and (max-width: 1200px) {

    .row1box {
        width: 100%;
        height: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .row1box_letterbox {
        width: 100%;
        margin-left: 0;
    }

    .iphone-1 {
        width: 300px;
        height: 300px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: auto;
    }

    .row2box {
        width: 100%;
    }

    .row3box {
        width: 100%;
    }

    .row3box_servicebox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 100px;
    }

    .row3box_service {
        width: 30%;
    }

    .row4box {
        width: 100%;
    }

    .row4box_imgbox {
        display: flex;
        flex-wrap: wrap;
    }

    .row4box_imgbox img {
        width: 100%;
        display: block;
    }

    .row4box_imgbox>div {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .row3box_servicebox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 60px;
    }

    .row3box_service {
        width: 100%;
    }
}